body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:434px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:193px;
  width:418px;
  height:434px;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:60px;
  width:1385px;
  height:59px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:77px;
  width:226px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  word-wrap:break-word;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:79px;
  width:614px;
  height:22px;
}
#u288_input {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:51px;
  background:inherit;
  background-color:rgba(49, 48, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:9px;
  width:1385px;
  height:51px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:27px;
  width:217px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:27px;
  width:93px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:27px;
  width:68px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:27px;
  width:109px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:17px;
  width:50px;
  height:42px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(49, 48, 48, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:1334px;
  top:23px;
  width:69px;
  height:30px;
  color:#FFFFFF;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:27px;
  width:99px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:1348px;
  top:79px;
  width:69px;
  height:22px;
  color:#FFFFFF;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:8px;
  width:94px;
  height:51px;
  opacity:0;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:8px;
  width:94px;
  height:51px;
  opacity:0;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:629px;
  width:239px;
  height:38px;
}
#u300_input {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
